<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur nihil, perferendis ab hic sed ea molestias labore possimus delectus aliquam repudiandae iusto eos, est modi totam culpa ut earum repellendus.</p>
<%- include("footer") -%>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, totam velit. Tempora sunt laboriosam quasi fuga perspiciatis quisquam doloremque eius pariatur laudantium incidunt qui veritatis, quaerat dignissimos perferendis officia aperiam.