* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #fff;
  padding: 10px;
}

body {
  height: 100vh;
  width: 50%;
  margin: auto;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
}

.side-list {
  grid-area: 1 / 1 / 3 / 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: white;
  margin-right: 20px;
  position: relative;
  background-color: #fff;
  border: 3px solid white;
  border-radius: 5px;
}

.list-names {
  display: flex;
  background-color: #a683e3;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.side-list a {
  text-decoration: none;
  color: #f1f1f1;
}

.close {
  position: absolute;
  color: red;
  top: -10px;
  right: -10px;
}

a .side-box {
  padding: 10px;
  width: 100%;
}

.box {
  max-width: 400px;
  /* margin: 50px auto; */
  background: white;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  grid-column: 2/3;
  grid-row: 2/3;
  margin-bottom: 20px;
  word-wrap: break-word;
}

#newList {
  border-bottom: 1px solid black;
}

.delete-button {
  margin: 5px;
}

#heading {
  background-color: #a683e3;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  width: 100%;
  margin-bottom: 0;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  word-wrap: break-word;
  min-width: 100%;
}

.item p {
  min-width: 40%;
  word-wrap: break-word;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 6px; */
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  grid-area: 3 / 2 / 4 / 3;
}
